<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h1 class="text-center mt-5">PORTAFOLIO</h1>
  <div class="blur-container">
  <p>Nicolas Pinto Gonzalez, Tecnico en automatizacion y control industrial.</p>
  
    <p>Soy estudiante de Desarrollo Ruby on Rails para emprendimientos de tipo Startup. He trabajado en varios proyectos utilizando este marco de trabajo para crear aplicaciones web robustas y escalables.</p>
    <p>Echa un vistazo a algunos de mis <a href="<%= projects_path %>">proyectos</a></p>

    
  </div>
</body>
</html>
