<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\assets\application.css"> 
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-3 mt-4">
      <div class="card text-center h-100" style="width: 20rem;">
        <img src="/assets/codecard" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title"><b>Programación Ruby</b></h5>
          <p class="card-text">Construcción de programas computacionales con el lenguaje Ruby, aplicando conceptos de programación estructurada y orientada a objetos para resolver un problema determinado.</p>
          <div class="d-flex">
            <a href="/assets/code" target="_blank" class="btn btn-primary mt-auto">Vista previa</a>
            <a href="https://github.com/nicolasp2320/codigoruby.git" target="_blank" class="btn btn-secondary mt-auto ml-2">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mt-4">
      <div class="card text-center h-100" style="width: 20rem;">
        <img src="/assets/ricocard.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title"><b>Proyecto Ricomida</b></h5>
          <p class="card-text">Implementación de páginas web básicas responsivas utilizando HTML, CSS y JavaScript de acuerdo a los requerimientos y acorde a las buenas prácticas de la industria.</p>
          <div class="d-flex">
            <a href="/assets/rico1.jpg" target="_blank" class="btn btn-primary mt-auto">Vista previa</a>
            <a href="https://github.com/nicolasp2320/ricomida.git" target="_blank" class="btn btn-secondary mt-auto ml-2">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mt-4">
      <div class="card text-center h-100" style="width: 20rem;">
        <img src="/assets/crazycard" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Proyecto Crazy4cats</b></h5>
          <p class="card-text">Desarrollo de aplicaciones web MVC utilizando Ruby On Rails para crear aplicaciones con modelos relacionados, autenticación y control de accesos para satisfacer las necesidades de una organización.</p>
          <div class="d-flex">
            <a href="/carousel" class="btn btn-primary">Vista previa</a>
            <a href="https://github.com/nicolasp2320/crazy4cats.git" target="_blank" class="btn btn-secondary ml-2">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
