<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="well well-sm">
        <form class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">Contacto</legend>

            <div class="form-group">
              <div class="col-md-12">
                <input id="fname" name="nombre" type="text" placeholder="Nombre" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input id="lname" name="name" type="text" placeholder="Apellido" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input id="email" name="email" type="text" placeholder="Correo" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input id="phone" name="phone" type="text" placeholder="telefono" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <textarea class="form-control" id="message" name="message" placeholder="Ej: Nos encanto tu trabajo y queremos ofrecerte empleo" rows="7"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
